:root {
  --sunset-1: rgb(241, 92, 27);
  --sunset-2: rgb(238, 176, 153);
  --dark-sky: #1b1e17;
  --medium-sky: #84a298;
}

html, body {
  min-width: 700px;
  min-height: 570px;
}

body {
  background-image: url(https://res.cloudinary.com/dgkccb1sn/image/upload/v1717027459/bradley-dunn-WMDvr2Av6cA-unsplash_mzk5be.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

input, button {
  font-family: "Raleway", sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  background-color: color-mix(in srgb, var(--sunset-1) 90%, transparent);
  width: 70%;
  margin: auto;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.6rem;
}

h2 {
  background-color: color-mix(in srgb, var(--sunset-2) 70%, transparent);
  width: 45%;
  margin: 20px auto;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.2rem;
}

.input-container {
  width: 60%;
  padding: 20px;
  margin: 40px auto;
  align-items: center;
  background: rgba(255, 255, 255, 30%);
  border-radius: 5px;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

#check-btn {
  width: 30%;
  height: 5%;
}

.input-container p {
  text-align: center;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-style: italic;
}

.result-container {
  width: 55%;
  height: 30px;
  margin: 0 auto;
  background: color-mix(in srgb, var(--dark-sky) 70%, transparent);
  border-radius: 5px;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

#result-statement {
  margin: auto;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.clear-button {
  padding: 0;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  display: inline-flex; /* Ensure it fits tightly around the SVG */
  align-items: center; /* Center the SVG */
  justify-content: center;
}

.clear-button svg {
  display: block;
}

.clear-button:hover circle,
.clear-button:focus circle {
  cursor: pointer;
}

.definition-container {
  padding: 10px 20px;
  width: 80%;
  background: rgba(255, 255, 255, 30%);
  border-radius: 5px;
  position: relative;
  bottom: -120px;
  margin: 0 auto;
}

.definition-container h4{
  margin: 0 0 5px 0;
  font-size: 1.1rem;
  color: var(--sunset-1);
}

a:link {
  color: var(--sunset-2);
  text-decoration: none;
}

a:visited {
  color: var(--sunset-2);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--sunset-1);
  text-decoration: none;
}

.noun {
  font-size: 0.8rem;
  color: black;
}

.definition-container h5{
  margin: 0 0 10px 0;
  font-size: 0.9rem;
}

.definition-container p{
  margin: 0;
  font-size: 0.9rem;
}

.artist {
  background: rgba(255, 255, 255, 30%);
  width: 25%;
  position: relative;
  bottom: -190px;
  left: 20px;
  border-radius: 5px;
  padding: 2px;
}

.artist p {
  margin: auto;
  font-size: 0.8rem;
  text-align: center;
}
