:root {
  --sunset-1: rgb(241, 92, 27);
  --sunset-2: rgb(238, 176, 153);
  --dark-sky: #1b1e17;
  --medium-sky: #84a298;
}

html, body {
  min-width: 700px;
  min-height: 570px;
}

body {
  background-image: url(https://res.cloudinary.com/dgkccb1sn/image/upload/v1717027459/bradley-dunn-WMDvr2Av6cA-unsplash_mzk5be.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

.hide {
  display: none;
}

.resting-star {
  width: 20px;
  position: fixed;
  height: 20px;
  animation: 2s ease-in-out 1s 2 grow;
}

#resting-star {
  color: silver;
  transition: color 0.25s;
}

.resting-star:hover #resting-star {
  color: gold;
}

.resting-star:hover {
  cursor: pointer;
}

.resting-left-eye {
  height: 2px;
  width: 2px;
  border: 1px solid black;
  background-color: black;
  border-radius: 2px;
  position: relative;
  left: 107%;
  bottom: 140%;
}

.resting-right-eye {
  height: 2px;
  width: 2px;
  border: 1px solid black;
  background-color: black;
  border-radius: 2px;
  position: relative;
  left: 147%;
  bottom: 159%;
}

.resting-mouth {
  transform: rotate(90deg);
  position: relative;
  left: 89%;
  bottom: 205%;
  font-size: 0.9em;
}

.playing-star {
  width: 20px;
  position: fixed;
  height: 20px;
}

#playing-star {
  color: red;
  animation: 15s ease-in-out 0s infinite rainbow;
}

.playing-left-eye {
  position: relative;
  font-weight: bold;
  font-size: 0.8em;
  left: 90%;
  bottom: 160%;
}

.playing-right-eye {
  position: relative;
  font-weight: bold;
  font-size: 0.8em;
  left: 150%;
  bottom: 235%;
}

.playing-mouth {
  transform: rotate(90deg);
  position: relative;
  left: 91%;
  bottom: 305%;
  font-size: 0.9em;
}

.playing-star:hover {
  cursor: pointer;
}

.paused-star {
  width: 20px;
  position: fixed;
  height: 20px;
}

#paused-star {
  color: dodgerblue;
}

.paused-mouth {
  transform: rotate(-90deg);
  position: relative;
  left: 83%;
  bottom: 285%;
  font-size: 0.9em;
}

.paused-star:hover {
  cursor: pointer;
}

@keyframes grow {
  15% {
    transform: scale(1.8);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1);
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  13% {
    color: magenta;
  }
  34% {
    color: blue;
  }
  46% {
    color: cyan;
  }
  71% {
    color: lime;
  }
  79% {
    color: yellow;
  }
  100% {
    color: red;
  }  
}

input, button {
  font-family: "Raleway", sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  background-color: color-mix(in srgb, var(--sunset-1) 90%, transparent);
  width: 70%;
  margin: auto;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.6rem;
}

h2 {
  background-color: color-mix(in srgb, var(--sunset-2) 70%, transparent);
  width: 45%;
  margin: 20px auto;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.2rem;
}

.input-container {
  width: 60%;
  padding: 20px;
  margin: 40px auto;
  align-items: center;
  background: rgba(255, 255, 255, 30%);
  border-radius: 5px;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

#check-button {
  width: 30%;
  height: 5%;
}

.input-container p {
  text-align: center;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-style: italic;
}

.result-container {
  width: 55%;
  height: 30px;
  margin: 0 auto;
  background: color-mix(in srgb, var(--dark-sky) 70%, transparent);
  border-radius: 5px;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

#result-statement {
  margin: auto;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.clear-button {
  padding: 0;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  background: transparent;
  border: none;
  display: inline-flex; /* Ensure it fits tightly around the SVG */
  align-items: center; /* Center the SVG */
  justify-content: center;
}

.clear-button svg {
  display: block;
}

.clear-button:hover circle,
.clear-button:focus circle {
  cursor: pointer;
}

.definition-container {
  padding: 10px 20px;
  width: 80%;
  background: rgba(255, 255, 255, 30%);
  border-radius: 5px;
  position: relative;
  bottom: -120px;
  margin: 0 auto;
}

.definition-container h4{
  margin: 0 0 5px 0;
  font-size: 1.1rem;
  color: var(--sunset-1);
}

a:link {
  color: var(--sunset-2);
  text-decoration: none;
}

a:visited {
  color: var(--sunset-2);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--sunset-1);
  text-decoration: none;
}

.noun {
  font-size: 0.8rem;
  color: black;
}

.definition-container h5{
  margin: 0 0 10px 0;
  font-size: 0.9rem;
}

.definition-container p{
  margin: 0;
  font-size: 0.9rem;
}

.artist {
  background: rgba(255, 255, 255, 30%);
  width: 25%;
  position: relative;
  bottom: -190px;
  left: 20px;
  border-radius: 5px;
  padding: 2px;
}

.artist p {
  margin: auto;
  font-size: 0.8rem;
  text-align: center;
}

.song {
  background: rgba(255, 255, 255, 30%);
  width: 45%;
  position: relative;
  bottom: -165px;
  left: 350px;
  border-radius: 5px;
  padding: 2px;
}

.song p {
  margin: auto;
  font-size: 0.8rem;
  text-align: center;
}

.song p:first-of-type {
  padding-bottom: 2px;
}
